<div class="container supercluster_index">
  <p id="notice"><%= notice %></p>
  <%=link_to "Back", galaxies_path, class:"back"%>
  <%@superclusters.each do |supercluster|%>
  <%=link_to supercluster_path(supercluster) do%>
    <div class="col-md-4 supercluster_tab">
      <h3>Name:
        <%=supercluster.name%></h3>
      <h4>Galaxies:
        <%=supercluster.galaxies.count%></h4>
      <%supercluster.galaxies.each do |galaxy|%>
        <h5><%=galaxy.name%></h5>
      <%end%>
    </div>
  <%end%>
<%end%>
</div>
