<div class="container">
  <div class="container">
    <div class="container">
      <h2>Galaxies located in the <%=@supercluster.name%> supercluster</h2>
      <% @galaxies.each do |galaxy| %>
        <div class="galaxy_main">
          <div class="galaxy_tab">
            <%= link_to galaxy do %>
            <%=image_tag galaxy.image_url :class => "image"%>
            <h3><%=galaxy.name%></h3>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'Back', superclusters_path, class: "back" %>
</div>
