<%= form_for [@galaxy, @star] do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :classification %>
    <%= form.select :classification, ['white dwarf', 'stellar remnant', 'neutron star']%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
