<p id="notice"><%= notice %></p>

<h1>Stars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Classification</th>
      <th>Galaxy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stars.each do |star| %>
      <tr>
        <td><%= star.name %></td>
        <td><%= star.image %></td>
        <td><%= star.classification %></td>
        <td><%= star.galaxy_id %></td>
        <td><%= link_to 'Show', galaxy_stars_path %></td>
        <td><%= link_to 'Edit', edit_galaxy_star_path(star) %></td>
        <td><%= link_to 'Destroy', star, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Star', new_star_path %>
