<div class="container-fluid star_main">
  <p id="notice"><%= notice %></p>
  <div class="row star_intro" style="background: linear-gradient( rgba(14, 41, 69, 0.1), rgba(0, 0, 0, 0.1)), url(<%=@star.image_url.to_s%>); background-repeat: no-repeat; background-size:contain;  background-position: center;">
    <div>
      <%= link_to 'Back', galaxy_path(@star.galaxy_id), class:"back"%>
      <%= link_to 'Edit', edit_galaxy_star_path(@star.galaxy_id), class: "back"%>
      <%= link_to 'Delete', galaxy_star_path(@star), method: :delete, data: { confirm: 'Are you God?' }, class:"delete" %>
    </div>
    <div class="star_details">
      <span class="star_name">
        <h2>NAME</h2>
        <h4><%= @star.name %></h4>
      </span>
      <span class="star_classification">
        <h2>TYPE</h2>
        <h4><%=@star.classification%></h4>
      </span>
    </div>
  </div>
  <div class="row heading">
    <h1>
      PLANETS
      <%= link_to new_galaxy_star_planet_path(@galaxy, @star), class:"planet_add" do%>
      +
    <%end%>
  </h1>
  <%if !@planets.present?%>
    <h3>NO PLANETS HERE....YET</h3>
  <%else%>
    <div class="row planet_tab">
      <% @planets.each do |planet| %>
        <%= link_to galaxy_star_planet_path(@star.galaxy_id, @star, planet.id) do%>
        <div class="col-md-4 col-xs-12 star_tab">
          <div class="planet_det">
            <div class="star_planet_tab">
              <div class="star_planet_img">
                <%=image_tag planet.image_url%>
              </div>
              <div class="planet_details">
                <h2><%= planet.name %></h2>
                <h4>Category:
                  <%= planet.category %></h4>
                <h4>Moons: <%=planet.moons%></h4>
                <h4>Life: <%=planet.life%></h4>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  <%end%>
</div>
</div>
</div>
