<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @star.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @star.image %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @star.classification %>
</p>

<%= link_to 'Edit', edit_galaxy_star_path(@star.galaxy_id) %>
|
<%= link_to 'Back', galaxy_path(@star.galaxy_id)%>
|
<%= link_to 'Destroy', galaxy_star_path(@star), method: :delete, data: { confirm: 'Are you sure?' } %>
