<%= form_for @planet, url: galaxy_star_planet_path(@planet), local: true do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, ['Terrestial', 'Dwarf', 'Gas giant']%>
  </div>

  <div class="field">
    <%= form.label :life %>
    <%= form.check_box :life %>
  </div>


  <div class="field">
    <%= form.label :moons %>
    <%= form.number_field :moons %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
