<p id="notice"><%= notice %></p>

<h1>Planets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Life</th>
      <th>Moons</th>
      <th>Image</th>
      <th>Star</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planets.each do |planet| %>
      <tr>
        <td><%= planet.name %></td>
        <td><%= planet.life %></td>
        <td><%= planet.moons %></td>
        <td><%= planet.image %></td>
        <td><%= link_to 'Show', galaxy_star_planet_path(@galaxy, @star, planet) %></td>
        <td><%= link_to 'Edit', edit_galaxy_star_planet_path(@galaxy, @star, planet) %></td>
        <td><%= link_to 'Destroy', galaxy_star_planet_path(@galaxy, @star, planet), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planet', new_galaxy_star_planet_path %>
