<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planet.name %>
</p>

<p>
  <strong>Life:</strong>
  <%= @planet.life %>
</p>

<p>
  <strong>Moons:</strong>
  <%= @planet.moons %>
</p>

<p>
  <strong>Image:</strong>
  <%= @planet.image %>
</p>

<p>
  <strong>Star:</strong>
  <%= @planet.star_id %>
</p>

<%= link_to 'Edit', edit_galaxy_star_planet_path %>
<%= link_to 'Back', galaxy_star_path %>
<%= link_to 'Delete', galaxy_star_planet_path(@planet), method: :delete, data: {confirm: 'Are thoust sureth?'} %>
