<%= form_for(@galaxy, local: true, :html => {:multipart => true}) do |form| %>
  <% if galaxy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(galaxy.errors.count, "error") %> prohibited this galaxy from being saved:</h2>

      <ul>
        <% galaxy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="form-inner">
      <div class="form-group">
        <%= form.label :name %>
        <br>
        <%= form.text_field :name%>
      </div>

      <div class="form-group">
        <%= form.label :shape %>
        <br>
        <%= form.select :shape, ['Literally Shapeless', 'Figuratively Shapeless', 'Spiral', 'Elliptic']%>
      </div>

      <div class="form-group">
        <%= form.label :supercluster%>
        <br>
        <%= form.collection_select :supercluster_id, Supercluster.all, :id, :name%>
      </div>

      <div class="form-group">
        <%= form.label :image %>
        <br>
        <%= form.file_field :image %>
      </div>

      <div class="form-group">
        <%= form.label :size %>
        <br>
        <%= form.number_field :size %>
      </div>

      <div class="actions">
        <%= form.submit%>
      </div>
    </div>
  </div>
<% end %>
