<p id="notice"><%= notice %></p>

<h1>Galaxies</h1>
<%= link_to 'New Galaxy', new_galaxy_path %>
    <% @galaxies.each do |galaxy| %>
      <div>
        <p>Name: <%= galaxy.name %></p>
        <p>Supercluster <%= galaxy.supercluster.name %></p>
        <p>Shape: <%= galaxy.shape %></p>
        <p>PhotoUrl: <%= galaxy.image %></p>
        <p>Size: <%= galaxy.size%> Light Years Wide</p>
        <p><%= link_to 'Show', galaxy %></p>
        <hr>
      </div>
    <% end %>
<br>
