<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="galaxy_div">
    <%=link_to "New Supercluster", new_supercluster_path, class: "new_supercluster"%>/
    <%=link_to "All Superclusters", superclusters_path, class: "new_supercluster"%>
    <div class="galaxy_add">
      <%= link_to new_galaxy_path do%>
      <p>+</p>
    <%end%>
  </div>
  <div>
  </div>
</div>
</div>

<div class="container">
<% @galaxies.each do |galaxy| %>
  <div class="galaxy_main">
    <div class="galaxy_tab">
      <%= link_to galaxy do %>
        <%=image_tag galaxy.image_url :class => "image"%>
        <h3><%=galaxy.name%></h3>
      <%end%>
    </div>
  </div>
<% end %>
</div>
